$logo-width: 70px;

#header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 0 30px rgba(0, 0, 0, .3);
  opacity: 0;
  transition: all .3s ease-in-out;

  .contener {
    width: 100%;
    max-width: $max-width;
    display: flex;
    justify-content: space-around;
    padding: 0 3rem;
  }

  button.icon-menu {
    display: none;
  }

  a.navlogo {
    width: $logo-width;
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: -99999px;
    background-image: image-url("logo-black.svg");
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
    &:hover, &:focus {
      background-color: rgba(0, 0, 0, .05)
    }
  }

  nav {
    width: calc(100% - #{$logo-width});
    ul {
      display: flex;
      width: 100%;
      justify-content: space-around;
      li {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
        a {
          display: flex;
          padding: 15px;
          font-size: 14px;
          line-height: 16px;
          font-weight: 600;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          align-items: center;
          &:hover, &:focus {
            background-color: rgba(0, 0, 0, .05)
          }
        }
      }
    }
  }

  &.is-sticky {
    opacity: 1;
  }

  @media screen and (max-width: $media-l) {
    nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, .95);
      ul {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        li {
          height: 100%;
          a {
            font-size: 18px;
            &:hover, &:focus {
              background-color: transparent;
              color: $black;
            }
          }
        }
      }
    }
  }

}
