section id="event"
  div class="box event--content"
    h1 class="h2 center"
    	span class="small" = data.event.title
    h3 class="h3 center" = data.event.subtitle
    = image_tag data.event.image, alt:"Labo3G - #{data.event.title}"
    p = data.event.texte
    p = data.event.list
    p = data.event.textetwo

  div class="box auto top-negativ left-align margin-left"
    = link_to data.event.linktext, "#{data.event.linkpath}", class: "button primary"
