section id="exposer"

	div class="imagecontener"
		- data.content.exposer.images.each_with_index do |image|
			= image_tag "#{image.path}", alt: "#{data.settings.site.title} - #{image.title}"

	div class="contener"
		div class="box title auto"
			h1 class="h2 no-margin"
				= data.content.exposer.title.big
				span class="small" = data.content.exposer.title.small
		div class="box texte"
			p = data.content.exposer.texte
		div class="box buttonbox auto"
			= link_to data.content.exposer.linktext, "#{data.content.exposer.linkpath}", class:"button primary"
