section id="lagalerie"
	div class="contener"
		div class="box title bottom-negativ depth-1"
			h1 class="h2 no-margin"
				span class="small" = data.content.lagalerie.title.small
				= data.content.lagalerie.title.big
		div class="box texte"
			p = data.content.lagalerie.texte