#contact {
	position: relative;
	p {
		width: 60%;
		padding-right: 10%;
		@media screen and (max-width: $media-m) {
			width: 100%;
			padding-right: 0;
			margin-bottom: 3vh;
		}
	}
	.box {
		width: 100%;
		max-width: 600px;
		align-self: flex-start;
		margin-bottom: - 20vh;
		@media screen and (max-width: $media-l) {
			margin-top: 30vh;
			margin-bottom: 10vh;
			align-self: center;
			z-index: 2;
		}
		@media screen and (max-width: $media-s) {
			margin-top: 20vh;
		}
	}
	.row {
		align-items: center;
		@media screen and (max-width: $media-m) {
			flex-direction: column;
		}
	}
	.imagecontener {
		width: 100%;
		margin-bottom: 5vh;
		@media screen and (max-width: $media-l) {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
		@media screen and (max-width: $media-s) {
			width: 110%;
			left: -5%;
		}
		img {
			width: 80%;
			float: right;
			@media screen and (max-width: $media-l) {
				width: 100%;
				margin: 0;
			}
			@media screen and (max-width: $media-s) {
				width: auto;
				max-width: 2000px;
				height: 40vh;
			}
		}
	}
	p + .button {margin-top: 0;}
}