#exposer {
	position: relative;
	margin-bottom: 5vh;
	.contentcontener {
		width: 100%;
		max-width: 600px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		top: 0;
		right: 10%;
		.title {
			margin-left: -5vw;
			display: table;
		}
	}
	.imagecontener {
		display: flex;
		.zone {
			display: flex;
			flex-direction: column;
			justify-content: center;
			& img:nth-of-type(2) {
				width: 80%;
				margin-right: 20%;
			}
		}
	}
}