#lelieu {
  flex-direction: row;
  margin-top: -5vh;
  .box {
    width: 100%;
    max-width: 945px;
    left: 5%;
  }
  .h2 span.small {display: inline;}
  p {padding-right: 10vw;}
  .imagecontener {
    width: 100%;
    align-self: center;
    margin-left: -10vw;
    padding-top: $section-padding;
    img {
      width: calc(50% - #{$image-margin / 2});
      margin-bottom: 0;
      &:last-child {margin: 0;}
    }
  }
}
