$funny-width: 20px;
$funny-height: 2px;

span.funnythings {

	// INIT
	display: inline-block;
	position: fixed;
	z-index: 99;

	// FORMS
	&.square {
		width: $funny-width / 1.3;
		height: $funny-width / 1.3;
		box-shadow: 0 0 0 $funny-height $c2;
	}
	&.diamant {
		width: $funny-width / 1.4;
		height: $funny-width / 1.4;
		box-shadow: 0 0 0 $funny-height $c2;
		transform: rotate(45deg);
	}
	&.cross {
		  width: $funny-width;
		  height: $funny-height;
		  background: $c2;
		&:after {
			content: '';
		  width: $funny-width;
		  height: $funny-height;
		  display: inline-block;
		  position: absolute;
		  background: $c2;
		  transform: rotate(90deg);
		}
	}

	// POSITION
	&:nth-of-type(2n+1) {top: 30%; left: 60%;}
	&:nth-of-type(2n+2) {bottom: 10%; left: 30%;}
	&:nth-of-type(2n+3) {top: 10%; left: 10%;}
}
